@using Carrito_D.Helpers
@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Empleado"))
{
    <p>
        <a asp-action="Create">Crear nuevo producto</a>
    </p>
}

<div>
    <h3>Filtrar por categoría</h3>
    <ul style="list-style-type: none;">
        @foreach (var cat in ViewBag.Categorias)
        {
            <li style="display:inline">
                <a asp-action="Index" asp-controller="Productos" asp-route-sucursalId="@cat.Id">@cat.Nombre</a>
            </li>
        }
    </ul>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Pausado))
{
    <div class="alert alert-danger" role="alert">@ViewBag.Pausado</div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVigente)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Empleado"))
            {
                <th>Estado del producto</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        string imagen = Configs.RutaFotos + @item.Imagen;
                    }
                    <img src="@imagen"  />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVigente)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Empleado"))
                {
                    if (item.Activo)
                    {
                        <td class="alert alert-success" role="alert">
                            Activo
                        </td>
                    }
                    else
                    {
                        <td class="alert alert-danger" role="alert">
                            Pausado
                        </td>
                    }
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    </td>
                }
                else
                {
                    if (item.Activo == false)
                    {
                        <td class="alert alert-danger" role="alert">
                            Producto pausado
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="AgregarCarritoItem" asp-controller="CarritoItems" asp-route-idProducto="@item.Id">Agregar al Carrito</a>
                        </td>
                    }
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
